body {
    background-color: white;
    font-family: 'Monserrat Alernates', sans-serif;
    overflow-x: hidden;
    background-image: url(img/fondo.png);
}


#menu li>a {
    font-size: 18pt;
    color: rgb(55, 47, 33);

}

/*carousel*/

.carousel-inner {
    max-height: 40rem;
}



#pag-web {
    list-style: none;
    background-color: rgb(255, 254, 253);
}




#datoslocal{
    font-size: smaller !important;
}







/*media queries*/





@media (max-width:1200) {

    #local {
        flex-wrap: wrap !important;
        padding-top: 30px;
    }
    
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }


    #yo {
        flex-wrap: wrap !important;
        padding-top: 30px;
    }




}







@media (min-width:768px) {
    #easdaubic:hover {
        flex-wrap: wrap !important;
        width: 51% !important;
        justify-content: center !important;
    }


}








@media (max-width:768px) {

    #intro, #imagenproces{
        width: 70% !important;
    }


    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }


    #easdaubic:hover {
        flex-wrap: wrap !important;
        width: 51% !important;
        justify-content: center !important;
    }

}


/*para pantallas muy pequeñas*/

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #imagenproces {
        width: 70% !important;
        justify-content: center !important;
        align-items: center !important ;
    }

    #easdaubic {
        flex-wrap: wrap !important;
        width: 70% !important;
        justify-content: center !important;
    }

    #easdaubic:hover {
        flex-wrap: wrap !important;
        width: 93% !important;
        justify-content: center !important;
    }

    #easda {
        flex-wrap: wrap !important;
        width: 80% !important;
        justify-content: center !important;
    }

    #local {
        flex-wrap: wrap !important;
        padding-top: 30px;
       justify-content: center !important;
    }

    #yo {
        flex-wrap: wrap !important;
        padding-top: 30px;
       justify-content: center !important;
    }



    #pag-web {
        list-style: none;
        justify-content: center !important;
        text-align: center !important;
        font-size: smaller !important;
        margin-bottom: 400px;
        background-color: rgb(255, 252, 247);
    }




    
    .wrapper {
        width: 80% !important;
        margin: auto;
        padding-top: 50px;
        justify-content: center !important;
    }

    #datoslocal {
        justify-content: center !important;
    }







}



/*ubicación easda*/

.mapa {
background: url();
width: 50%;
height: 250px;
}


#local {
    padding-bottom: 300px;
    width: 100% !important;


}

#yo {
    background-color: rgb(255, 255, 255);
    padding-bottom: 300px;
    display: flex;
    justify-content: center !important;

}


.wrapper {
    width: 50%;
    padding-top: 150px;
}

/*datos de ubicación*/

#datoslocal div{
padding: 0 20px 0 0;
height: 48px;

}

/*línea divisoria de los datos*/

#datoslocal div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
}

/*colocamos un margen*/

#datoslocal div:not(:first-child) {
    padding-left: 20px;
    
}



/*quitamos los espacios entre los p*/

#datoslocal div > p {
    margin: 0;
   justify-content: center;
   font-size: smaller !important;
}






