body {
    background-color: white;
    font-family:'Monserrat Alernates' , sans-serif;
overflow-x: hidden;
    background-image: url();
}


#menu li > a{
    font-size: 18px;
color: rgb(55, 47, 33);

}

/*carousel*/

.carousel-inner {
    max-height: 40rem;
}


/*media queries*/

@media (max-width:768px) {
    #intro {
        width: 80% !important;
    }
.servicio-fila {
    width: 100% !important;
    text-align: center;
}

}


/*para pantallas muy pequeñas*/

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap:wrap ;
        justify-content: center !important;
    }
}

