body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    background-image: url(img/fondo.png);
}


#header {
    margin: auto;
    width: 700px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


ul,
ol {
    list-style: none;
}


.menu li a {
    background-color: black;
    color: azure;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
}

.menu>li {
    float: left;
}

.nave li a:hover {
    background-color: #434343;
}

.menu li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.menu li:hover>ul {
    display: block;
}


.menu li ul li {
    position: relative;
}


.menu li ul li ul {
    right: -140px;
    top: 0px;
}

#titulo {
    margin-left: auto;
    margin-right: auto;
    font-size: 200px;
    text-align: center;
}