

@font-face {
    font-family: raleway;
    src: url(tipos/Raleway/Raleway-Italic-VariableFont_wght.ttf);
}


@font-face {
    font-family: roboto;
    src: url(tipos/Roboto/Roboto-BoldItalic.ttf);
}



@font-face {
    font-family: zen ;
    src: url(tipos/Zen_Dots/ZenDots-Regular.ttf);
}


@font-face {
    font-family: nerko ;
    src: url(tipos/Nerko_One/NerkoOne-Regular.ttf);
}


@font-face {
    font-family: bhutka ;
    src: url(tipos/BhuTuka_Expanded_One/BhuTukaExpandedOne-Regular.ttf);
}


@font-face {
    font-family: rubik ;
    src: url(tipos/Rubik_Microbe/RubikMicrobe-Regular.ttf);
}







@font-face {
    font-family: bebas ;
    src: url(tipos/Bebas_Neue/BebasNeue-Regular.ttf);
}


@font-face {
    font-family: dancing ;
    src: url(tipos/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}


@font-face {
    font-family: rowdies ;
    src: url(tipos/Rowdies/Rowdies-Regular.ttf);
}




body {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}


#header {
    margin: auto;
    width: 500px;
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.tipos {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-size: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color:rgb(199, 165, 63);
    color: rgb(255, 255, 255);
    margin-bottom: 30px;
    display: block;
}

#contenedor {
    text-align: center;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
}

p {
    width: 450px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
}


#uno {
    font-family: raleway;
}

#dos {
    font-family: roboto;
}


#tres {
    font-family: zen ;
}


#cuatro {
    font-family: nerko ;
}

#cinco {
    font-family: bhutka ;
}


#seis {
    font-family: rubik ;
}

#siete {
    font-family: bebas ;
}

#ocho {
    font-family: dancing ;
}


#nueve {
    font-family: rowdies ;
}
