body {
    background-color: white;
    font-family: 'Monserrat Alernates', sans-serif;
    overflow-x: hidden;
    background-image: url(img/fondo2.png);
}

#menu {
    color: rgb(34, 169, 0);
}


header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#primerenlace {
    font-size: smaller;
}



#segundoenlace {
    justify-content: right !important;
    font-size: smaller;
}


#evernote {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(34, 169, 0);
    font-size: small;
}


#datosinicio {
    color:rgb(34, 169, 0) ;
    font-size:x-small !important;
    justify-content: center !important;
}

#web-sign {
    color:rgb(34, 169, 0) ;
    font-size:x-small !important;
    justify-content: right !important;
}






/*carousel*/

.carousel-inner {
    max-height: 40rem;
}











/*media queries*/




@media (max-width:1200) {

    #local {
        flex-wrap: wrap !important;
        padding-top: 30px;
    }
    
    .wrapper {
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }

    #yo {
        flex-wrap: wrap !important;
        padding-top: 30px;
    }


}










@media (min-width:768px) {
#easdaubic:hover {
    flex-wrap: wrap !important;
    width: 52% !important;
    justify-content: center !important;
}

}







@media (max-width:768px) {

    #intro,
    #imagenproces, #easdaubic {
        width: 80% !important;
    }

    .servicio-fila {
        width: 100% !important;
        text-align: center;
    }

    #easdaubic:hover {
        flex-wrap: wrap !important;
        width: 82% !important;
        justify-content: center !important;
    }

}

/*para pantallas muy pequeñas*/

@media (max-width: 576px) {
    .icono-wrap {
        flex-wrap: wrap;
        justify-content: center !important;
    }

    #imagenproces {
        width: 70% !important;
        justify-content: center !important;
        align-items: center !important ;
    }

    #easdaubic {
        flex-wrap: wrap !important;
        width: 80% !important;
        justify-content: center !important;
    }

    #easdaubic:hover {
        flex-wrap: wrap !important;
        width: 82% !important;
        justify-content: center !important;
    }

    #easda {
        flex-wrap: wrap !important;
        width: 80% !important;
        justify-content: center !important;
    }

    #local {
        flex-wrap: wrap !important;
        padding-top: 30px;
       justify-content: center !important;
    }

   


    
    .wrapper {
        width: 80% !important;
        margin: auto;
        padding-top: 50px;
        justify-content: center !important;
    }

    #datosinicio {
        justify-content: center !important;
        font-size: 5pt !important;
    }



}


/*ubicación easda*/

.mapa {
background: url();
width: 50%;
height: 250px;
}

#local {
    background-color: rgb(255, 253, 237);
    padding-bottom: 300px;
    display: flex;
    justify-content: center !important;

}


.wrapper {
    width: 50%;
    padding-top: 150px;
}

/*datos de ubicación*/

#datosinicio div {
padding: 0 20px 0 0;
height: 20px;

}

/*línea divisoria de los datos*/

#datosinicio div:not(:last-child) {
    border-right: 2px solid rgb(34, 169, 0);
}

/*colocamos un margen*/

#datosinicio div:not(:first-child) {
    padding-left: 20px;
    
}


/*quitamos los espacios entre los p*/

#datosinicio p {
    margin: 0;
   justify-content: center;
}


#descrip {
    font-size: small;
}






